<!Doctype>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<div th:replace="common/header :: common-header"></div>

<title>Login</title>

</head>
<style>
.svg-inline--fa{
	width: 1.2rem;
}
</style>
<body>

	<!--  CODE FOR NAVBAR -->
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container">
	<div class="row login-wrapper">
		<div class="col-md-6 login-bg">
		<div class="overlay">
		
		</div>
		</div>
		<div class="col-md-6 login-form">
		<div class="spk-login-form ">
		<center>
			<h2>Login Here</h2>
		</center>
		<center>
			<h6 style="color:red">
				<div th:if="${param.error != null}">Incorrect username or password.</div>
			</h6>
		</center>
		
		<form th:action="@{/Login}" method="post">
		
		
		
			<div class="spk-form-group">
				<label>Email:</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">
						<!-- <i class="fas fa-user"></i> -->
						<svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
						
						</span>
					</div>
					<input type="email" class="form-control" placeholder="Email"
						aria-label="Username" aria-describedby="basic-addon1"
						name="username" id="username" required />
				</div>
			</div>
			<div class="spk-form-group">
				<label>Password:</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">
						<!-- <i class="fas fa-key"></i> -->
						<svg class="svg-inline--fa fa-key fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="key" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path></svg>
						</span>
					</div>
					<input type="password" class="form-control" placeholder="Password"
						aria-label="password" aria-describedby="basic-addon1"
						name="password" id="password" required />
				</div>
			</div>

			<div>
				<a th:href="@{forgetPassword}">Forgot
					Password?</a>
			</div>

			<button class="btn btn-login" type="submit" id="login">Login</button>

		</form>
		<p class="spk-register-p">
			Don't have an account?<a href="Signup">Register</a>
		</p>
	</div>

		</div>
		
		
		</div>
	
	</div>
	
	





	<!--  COMMON CODE FOR LIBRARY ADDED -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script th:inline="javascript">
    
		var projectPath='[(@{/})]';
		
	</script>
	
</body>

</html>